<div class="card">
    <div class="card-title mt-4 mb-3 text-center">
        <h3 class="font-weight-bold color-dark-light">SWP DETAILS</h3>
    </div>
    <div class="card-body">
        <div class="row mb-5 position-relative">
            <div class="col-6">
                <h4 class="font-weight-bold color-dark-light">Date of Investment</h4>
            </div>
            <div class="col-6">
                <div class="field">
                    <input type="text" placeholder="Enter Date">
                    <img src="../../../assets/icons/calendar.svg" class="calendar position-absolute" alt="">
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-6">
                <h4 class="font-weight-bold color-dark-light">Expected Return</h4>
            </div>
            <div class="col-6">
                <span class="h4 font-weight-normal">&#8377; 25 ,10,050</span>
                <span class="h5 light-gray d-block">Twenty Five Lakhs Ten Thousand Fifty</span>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-6">
                <div class="d-flex">
                    <h4 class="font-weight-bold color-dark-light">Investment Amount</h4>
                    <img src="../../../assets/icons/tooltip.svg" alt="">
                </div>
            </div>
            <div class="col-6">
                <div class="field">
                    <input type="text" placeholder="&#8377; Enter Expected Return">
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-6">
                <h4 class="font-weight-bold color-dark-light">SWP Start Date</h4>
            </div>
            <div class="col-6">
                <div class="field">
                    <input type="text"  placeholder="Enter Date">
                    <img src="../../../assets/icons/calendar.svg" class="calendar position-absolute" alt="">
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-6">
                <h4 class="font-weight-bold color-dark-light">SWP End Date</h4>
            </div>
            <div class="col-6">
                <span class="h4 font-weight-normal">July 2062</span>
            </div>
        </div>
    </div>
</div>