<!-- Bajaj landing  -->

<main>
    
    <section class="banner">
        <!-- Banner start-->
        <div class="container-fluid">
            <div class="banner-section-content text-center">
                <h1 class="color-white font-weight-bold m-0 p-0">Calculate Retirement Corpus</h1>
                <div class="yellow-line mb-4 p-0">
                    <img src="../../assets/icons/yellow-line.svg" alt="">
                </div>
                <div class="banner-para">
                    <p class="h3 font-weight-medium color-white m-0">Finding out your retirement corpus helps us plan
                        your
                        allocation for fixed income and growth, so that you can meet your retirement goals</p>
                </div>
            </div>
            <div class="back-to-dcf position-absolute">
                <a href="#!" class="d-flex align-items-center">
                    <div class="back-arrow mr-2">
                        <img src="../../assets/icons/back-arrow.svg" alt="">
                    </div>
                    <span class="h5 font-weight-medium text-white m-0">Back to DCF</span>
                </a>
            </div>
        </div>
    </section> <!-- Banner end-->


    <div class="investor-details">
        <!-- Investor details start -->
        <app-invester-details></app-invester-details>
    </div><!-- Investor details end -->

    <section class="investor-card-details">
        <!-- Investor card details -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 mx-auto">
                    <app-risk-details></app-risk-details>
                </div>
                <div class="col-12 col-md-4 mx-auto">
                    <app-swp-details></app-swp-details>
                </div>
                <div class="col-12 col-md-4 mx-auto">
                    <app-corpus-details></app-corpus-details>
                </div>
            </div>
        </div>
    </section> <!-- Investor card details end-->

    <div class="end-btn text-center my-5">
        <button type="button" class="btn btn-danger font-weight-bold h4  px-4 py-2 mr-3 color-black">SAVE AS DRAFT</button>
        <button type="button" class="btn btn-gradient font-weight-bold px-4 py-2 h4 text-white">SAVE & PROCEED</button>
    </div>
</main>
<!-- Bajaj landing  -->