<!-- header start -->
<header>
    <div class="container p-0">
        <div class="main-header d-flex align-items-center justify-content-between">
            <a class="logo-wrap" routerLink="bajaj">
                <img src="../../../../assets/icons/logo 1.svg" alt="">
            </a>
            <!-- <div class="main-header-content">
                <h2 class="m-0 font-weight-medium color-dark">Welcome to Retirement Planing Tool</h2>
            </div> -->
            <div class="main-header-right-content d-flex align-items-center pt-1">
                <a class="mr-2" routerLink="gallery">
                    <span class="h5 font-weight-normal color-black">Gallery</span>
                </a>
                  <a class="mr-2" routerLink="forms">
                    <span class="h5 font-weight-normal color-black">Form</span>
                </a>
                <!-- <div class="mr-4">
                    <span class="h5 font-weight-normal color-black">Client Search Engine</span>
                </div>
                <div class="min-header-logout">
                    <a href="" class="p-0 m-0 font-weight-bold color-black h5 d-flex align-items-center">
                        <span class="mr-2">LOGOUT</span>
                        <img src="../../../../assets/icons/login.svg" alt="">
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</header>

