@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

header {width: 100%; background: #FFFFFF; box-shadow: 0.5px 0.87px 5px rgba(0, 0, 0, 0.2); padding: 12px 0 15px 0; position: absolute; top: 0; left: 0; z-index: 10; margin-top: 7px;}
