.card{background: #FFFFFF; box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); border-radius: 8px;width: 1136px; position: absolute; top: 53%; z-index: 5;}
.card ul li span { display: block; font-weight: 400;}
.card ul li h4 { font-weight: bold; color: #000; margin-bottom: 0;}