<div class="container">
    <div class="card p-4">
        <ul class="d-flex justify-content-between align-items-center m-0">
            <li>
                <span class="h4 color-dark-light mb-2 d-block">Name of Invester</span>
                <h4>{{investors[0].name}}</h4>
            </li>
            <li>
                <span class="h4 color-dark-light mb-2 d-block">Gender</span>
                <div class="d-flex align-items-start">
                    <img src="../../../assets/icons/male.svg" class="mr-2 p-0" alt="">
                    <h4>{{investors[0].gander}}</h4>
                </div>
            </li>
            <li>
                <span class="h4 color-dark-light mb-2 d-block">Age of Investor</span>
                <h4>{{investors[0].age}} Years</h4>
            </li>
            <li>
                <span class="h4 color-dark-light mb-2 d-block">Name and location of Relationship Manager</span>
                <h4>{{investors[0].location}}</h4>
            </li>
        </ul>
    </div>
</div>